<!-- NAVIGATION -->
<nav class="navigation">
    <!-- LOGO -->
    <img src="../../../assets//images/logo.png" alt="logo" class="logo" id="logo">

    <!-- NAV LINKS -->
    <ul class="nav-links">
        <li class="link-item">
            <a class="link active" [routerLink]="''">
                Home
            </a>
        </li>
        <li class="link-item">
            <a class="link" [routerLink]="'about'">
                About Us
            </a>
        </li>
        <li class="link-item">
            <a class="link" href="#why-mentor">
                Why Mentor?
            </a>
        </li>
        <li class="link-item">
            <a class="link">
                Blog
            </a>
        </li>

        <!-- CTA -->
        <a class="cta">
            <button class="cta-btn">
                Donate Your Time
                <fa-icon [icon]="rightIcon"></fa-icon>
            </button>
        </a>
    </ul>
</nav>